<!DOCTYPE HTML>
<html>
	<head>
		<title>Analysis and Prediction of Road TrafficAccident</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/final_css_file.css') }}"/>
	</head>
	<body class="is-preload">

		<header id="header">
				<a href="{{ url_for('main.home') }}" class="title">Road Accident Analysis and Prediction</a>
				<nav>
					<ul>
						<li><a href="{{ url_for('main.home') }}">Home</a></li>
						<li><a href="{{ url_for('main.abstract') }}" class="active">Abstract</a></li>
					</ul>
				</nav>
			</header>
<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<i><p>

Road accidents are one of the major causes of deadly injuries and deaths. It is possible to predict the possibility of accidents by studying past data. The occurrence of road accidents is associated with multiple factors such as speed, traffic condition, day, time, weather conditions, road construction, etc. The Government of the UK have made available quality datasets of Road accidents and their correlated factors. By studying these datasets and other data sources, we aim to develop a model that predicts with accuracy when and where an accident is likely to occur. With the help of machine learning tools and concepts this goal can be achieved.<p>
Our goal is to create an accurate road accidents prediction model that is a user-friendly and interactive web interface that allows users to enter the Date and time of travel along with the starting and destination locations and predict the probabilities of accidents occurring on the path of interest.<p>
The key steps involved are data pre-processing, Training the model with supervised learning algorithms and creation of the interactive Dashboard. The supervised learning algorithms Random Forest and Logistic regression are implemented and assessed on the basis of accuracy and performance for the training of the model. The unsupervised learning technique, DBSCAN algorithm is used for clustering of the data. The clustering is done as a data pre-processing step.
 <p>
The outcome of this project will benefit the travellers in providing a visualization tool that will evaluate the probability of an accident. In addition, it will help the traffic department in implementing strategies to reduce Road accidents.



							 
							 </p></i>
						</div>
					</section>

<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>Group 46: MKSSS's Cummins college of engineering for women, Pune</li>						
					</ul>
				</div>
			</footer>

		<!-- Scripts -->

			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>




