<!DOCTYPE HTML>
<html>
	<head>
		<title>Analysis and Prediction of Road Accident</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/final_css_file.css') }}"/>
	</head>
	<body class="is-preload">
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">INTRODUCTION</a></li>
							<li><a href="#interact">INTERACTION</a></li>
							<li><a href="#abstract">PROJECT OVERVIEW</a></li>
							 <li><a href="#team">GROUP DETAILS</a></li>

						</ul>
					</nav>
				</div>
			</section>


			<div id="wrapper">


					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Prediction of Road Traffic Accidents</h1>
							<p><i>
							Road Traffic Accidents are a major cause of death worldwide leading to around 1.35 million deaths and 50 million injuries every year that is, one person is killed every 25 seconds.<p>Hence, we aim to serve you with this platform which wil give you an idea about all the accidents that may occur on your route of interest and you plan your journey accordingly. </p>
							 </p></i>
						</div>
					</section>

					
					<section id="interact" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Interactive Page</h2>
							<p>Using Machine Learning tools and libraries this prediction visualization is developed . Click the below tab to visit this interactive Dashboard.</p>

							<ul class="actions">
								<li><a href="{{ url_for('main.interaction') }}"class="button">INTERACT</a></li>
							</ul>
						</div>
					</section>

					 <section id="abstract" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>PROJECT OVERVIEW</h2>
							<p>This is the entire abstract of this project.</p>
							<ul class="actions">
								<li><a href="{{ url_for('main.abstract') }}"class="button">ABSTRACT</a></li>
							</ul>
						</div>
					</section>

					<section id="team" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>TEAM DETAILS</h2>
							<p><i>This project is done by students of cummins college of Engineering for women, pune<br>
								Departmet of Electronics and telecommunications<br>
									Under The Guidance of Prof. Mrudul Dixit<br>
										Team Members<br>
										C22016111041 : Sai Gopal Deshmukh<br>
										C22016111034 : Mannase Dongaonkar<br>
									C22016111038 : Snehal Vilas Jadhav</i></h3></p>
							
						</div>
					</section>

			</div>

			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>Group 46: MKSSS's Cummins college of engineering for women, Pune</li>						
					</ul>
				</div>
			</footer>


			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>
